<h1 style="text-align: center;">User List</h1>
<div style="overflow-x: hidden;">
    <table class="table table-striped" style="overflow-x: hidden; width: 100vw;">
        <thead>
        <tr>
            
            <th scope="col">username</th>
            <th scope="col">role</th>
            
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
            
            <td> {{item['username']}} </td>
            <td>{{item['role']}}</td>
            
        </tr>
        
        </tbody>
    </table>
</div>
























