<h1 style="text-align: center;">Create Poll</h1>
<form class="mx-auto" style="width: 400px;">
    <div class="form-group">
      <label for="formGroupExampleInput">Title</label>
      <input type="text" class="form-control" id="formGroupExampleInput">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Option 1</label>
      <input type="text" class="form-control" id="formGroupExampleInput2">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Option 2</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Option 3</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Option 4</label>
        <input type="text" class="form-control" id="formGroupExampleInput2">
      </div>
      <button type="button" class="btn btn-primary pl-3 pr-3">Submit</button>
  </form>