<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h1>MCQ Quiz</h1><span></span>
                    </div>
                </div>
                <div class="question bg-white p-3 border-bottom" *ngFor="let item of data">
                    <app-poll [poll]="item"></app-poll>  
                </div>
            </div>
        </div>
    </div>
</div>
